<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>M·M·F 小屋</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' data: 'unsafe-eval' 'unsafe-inline'; frame-src 'self'" />
    <meta name="Keywords" content="林岑影, M·M·F 小屋"/>
    <meta name="Description" content="M·M·F 小屋"/>
</head>
<body>
<div id="app">
    <form method="post" action="/api/backend">
        <% if (message) { %>
        <p><%= message %></p>
        <% } %>
        <h1>添加管理员</h1>
        <p>用户名: <input name="username" type="text" /></p>
        <p>邮箱: <input name="email" type="text" /></p>
        <p>密码: <input name="password" type="text" /></p>
        <p><input name="submit" type="submit" value="添加" /></p>
    </form>
</div>
</body>
</html>
