<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="Keywords" content="林岑影, M·M·F 小屋"/>
    <meta name="description" content="{{ description }}">
    <link href="/static/editor.md/css/editormd.css" rel="stylesheet"/>
</head>
<body>
    <!--vue-ssr-outlet-->
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
